@page
@using Microsoft.AspNetCore.Http
@model codeforgood.Pages.WeekendForGoodModel
@{
    ViewData["Title"] = "Weekend For Good";

    var dateRange = Model.DateRange;
    var location = Model.LocationAddress;
}
<div id="weekend-for-good-page" vocab="http://schema.org/" typeof="Event">
    <div class="hero-banner">
        <h1 class="weekend-for-good-title" property="name">Weekend for Good</h1>
        <img src="https://grgivecamp.org/assets/WFG-horizontal-logo.png" alt="WFG | Weekend for Good"/>
    </div>
    <div class="date-banner">
        <span property="startDate" content="@dateRange.From.ToString("s")">@($"{dateRange.From:MMM. d}")</span> - <span property="endDate" content="@dateRange.To.ToString("s")">@($"{dateRange.To:d yyyy}")</span>
    </div>
    <div class="partnership-banner">
        <div class="a-partnership-with">
            A partnership with,
        </div>
        <div class="layout-wrapper">
            <div class="code-for-good-logo">
                <img src="https://grgivecamp.org/assets/CFG-horizontal-logo.png" alt="Code for Good West Michigan" />
            </div>
            <div class="plus-icon">
                <span class="plus-text">+</span>
            </div>
            <div class="aiga-wm-logo">
                <img src="https://grgivecamp.org/assets/aiga-wm-logo.png" alt="AIGA West Michigan" />
            </div>
        </div>
    </div>
    <div class="what-is-code-for-good">
        <div class="photo-block">
            <img src="https://grgivecamp.org/assets/photo-collage-1.png" alt="Photo Collage" />
        </div>
        <div class="text-block">
            <h2>What is <span class="weekend-for-good-name">Code for Good</span>?</h2>
            <p>
                We’re a volunteer-run collective of technology professionals in <span class="keep-together">Grand Rapids, Michigan</span>, dedicated to creating tech solutions for <span class="keep-together">non-profit</span> agencies.
            </p>
            <p>
                Our primary event is <strong class="keep-together">Weekend for Good</strong> in November, but we are involved with projects all year long.
            </p>
            <p>
                Want to help? <a asp-page="./Volunteer">Let us know!</a>
            </p>
        </div>
    </div>
    <div class="what-is-weekend-for-good">

        <div class="text-block">
            <h2>Ok, What is <span class="weekend-for-good-name">Weekend for Good</span>?</h2>
            <p><span class="weekend-for-good-name">Weekend for Good</span> is an event held in collaboration with <a class="keep-together" href="https://westmichigan.aiga.org/">AIGA West Michigan</a>.</p>
            <p> On <strong>@dateRange</strong>, volunteers who are experts in software development, design and other fields donate their time to <span class="keep-together">non-profits</span>, creating custom software to further their charitable missions.</p>
            <p>In turn, those <span class="keep-together">non-profits</span> create meaningful change here in <span class="keep-together">Grand Rapids</span> and around the globe.</p>
        </div>
        <div class="photo-block">
            <img src="https://grgivecamp.org/assets/photo-collage-2.png" alt="Photo Collage" />
        </div>
    </div>
    <div class="call-to-action-links">
        <div class="button-block">
            <div class="icon-stack">
                <img src="https://grgivecamp.org/assets/volunteer-icon.png" alt="Be a part of Weekend for Good" />
                <h3 class="call-out-text">I want to donate my time!</h3>
            </div>
            <a class="button" asp-page="./Volunteer">Volunteer</a>
        </div>
        <div class="button-block">
            <div class="icon-stack">
                <img src="https://grgivecamp.org/assets/non-profit-icon.png" alt="Apply to be a Non-Profit that we help" />
                <h3 class="call-out-text">Can you help my <span class="keep-together">non-profit?</span></h3>
            </div>
            <a class="button" asp-page="./NonprofitAgencies">Apply</a>
        </div>
    </div>
</div>